@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}

* {
    box-sizing: border-box;
}

.background {
	background-repeat: no-repeat;
	background-attachment: center;
	background-position: center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	margin: auto;
	max-width: 1200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* Header */

.header {
	width: 100%;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	margin-top: 15px;
}

.logo {
	align-self: flex-start;
	max-height: 70px;
	margin-bottom: 15px;
}

.search-box {
	align-self: flex-end;
	background: transparent;
	border: none;
	border-bottom: solid 2px lightgray;
	transition: border 0.3s;
	margin-bottom: 20px;
	font-size: 13px;
	color: lightgray;
}

.search-input {
	background: transparent;
	border: none;
	font-size: 20px;
	padding: 5px;
}

.search-input:focus {
	outline: none;
}

/* Shell */

.shell {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 4px;
}

.shell img {
	min-width: 350px;
	max-width:100%;
}

.poster {
	flex: 1 1 40%;
	text-align: center;
}

.info {
	flex: 1 1 60%;
	display: flex;
	flex-direction: column;
	max-width: 720px;
	padding: 20px 20px 20px 20px;
}

h1 {
	margin: 0;
}
.tagline {
	color: #00FC87
}

.overview {
	font-size: 20px;
}

/* Footer */

.footer {
	width: 100%;
	align-self: flex-end;
	text-align: center;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}