body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	margin: auto;
	max-width: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header {
	width: 100%;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
	margin: 15px 0px 15px 0px;
}

.logo {
	align-self: flex-start;
	max-height: 70px;
}

.search-box {
	align-self: flex-end;
	background: transparent;
	border: none;
	border-bottom: solid 2px lightgray;
	transition: border 0.3s;
	margin-bottom: 10px;
	font-size: 13px;
	color: lightgray;
}

.search-input {
	background: transparent;
	border: none;
	font-size: 20px;
	padding: 5px;
}

.search-input:focus {
	outline: none;
}

.movie-box {
	background-color: grey;
}

.footer {
	width: 100%;
	align-self: flex-end;
	background-color: purple;
}